body {
    font-family: "Poppins", sans-serif;
    margin: 0;
  }
  
  h1 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    color: white;
  }
  
  h2 {
    text-align: center;
    font-family: "Poppins", sans-serif;
    color: black;
    margin-left: 20px;
  }
  
  h4 {
    text-align: left;
    font-family: "Poppins", sans-serif;
    position: relative;
  
    color: white;
    margin-left: 35px;
  }
  
  
  #ChangePassword {
    display: inline-block;
    background-image: linear-gradient( rgb(255, 255, 255),rgb(163, 214, 255));
    margin-left: 400px;
    width: 50%;
    height: auto;
    margin-top: 70px;
    margin-bottom: 20px;
    border: 3px;
    border-style: solid;
    border-color: #0e0d0d;
    padding: 1em;
    border-radius: 25px;
    text-align: center;
  }

  

  input[type="password"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 22px 0;
    margin-top: 30px;
   
    margin-bottom: 40px;
    margin-left:90px;
    display: inline-block;
    border-style: solid;
    border-color: #0e0d0d;
    background: #ffffff;
    text-align: center;
  }
  

  

  input[type="password"]:focus {
    background-color: rgb(247, 247, 247);
    border-style: solid;
    border-color: #0e0d0d;
  }
  

  
  
  
  
  
  li{
    
     margin-top: 30px;
     list-style-type: none;
     margin-right:200px;
  }

  


 
  .button {
    text-align: center;
    background-color: #ffffff;
    color: rgb(5, 5, 5);
    cursor: pointer;
    padding: -7px;
    margin: -6px 0;
    border-radius: 25px;
    border-style: solid;
    border-color: #0e0d0d;
    margin-top: 80px;
  }
  
  .button {
    margin-left:30px;
    width: 30%;
  }
  .button:hover {
    opacity: 0.8;
    background-color: #0d6dfdd8;
  }
  
  .profile-container {
    padding: 17px;
  }
  
  
  
  .alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
  }
  
  /* no overflow allowed until the height is less than 900px */
  @media screen and (max-height: 900px) {
    .main {
      overflow: auto;
    }
  }
  