<!DOCTYPE html>
{% extends 'parasites_app/base.html' %}
{% load static %}








{% block content_block %}
<link rel="stylesheet" type="text/css" href="/static/css/changePassword.css" xmlns="http://www.w3.org/1999/html">
<div class="main">


	<form id="ChangePassword" method="POST">
		<div class="contact-container">

			<h2>Change Password</h2>
			<input type="hidden" name="csrfmiddlewaretoken"
			value="GSiPiZjdV1XpJ6I5tZJfXuHUqGXqFWBalLxoWCKB6DqfzPalNRm6X3uc2QFp5NuY">
			{% csrf_token %}
			<table>
				<tbody>
					<tr>
						<th><label for="id_old_password">Old password:</label></th>
						<td><input type="password" name="old_password" autocomplete="current-password" autofocus=""
								required="" id="id_old_password"></td>
					</tr>
					<tr>
						<th><label for="id_new_password1">New password:</label></th>
						<td><input type="password" name="new_password1" autocomplete="new-password" required=""
								id="id_new_password1"><br>
							
							</td>
					</tr>
					

				</tbody>
			</table>




			<!-- Make changes button-->
			<div>
				<button type="submit" class="button">Update Password</button>
			</div>


		</div>
	</form>

</div>


</div>


{% endblock %}